<footer class="footer">
    <div class="container">
        <div class="card ">
            <div class="row mb-4">
                <div class="col-md-12  col-lg-4  col-sm-12 col-xs-4 footer-box-1">
                    <div class="footer-text pull-left">
                        <div class="d-flex">
                            <h1 class="font-weight-bold mr-2 px-3" style="color:white; background-color:#957bda"> E
                            </h1>
                            <h1 style="color: #957bda">-Thrift</h1>
                        </div>
                        <p class="card-text">This is online selling shop. user can sell his product also can buy
                            product from another seller.</p>
                        <div class="social mt-2 mb-3"> </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 empty"></div>
                <div class="col-md-4 col-lg-2 col-sm-4 col-xs-2 footer-box footer-box-2">
                    {{!-- <h5 class="heading">Services</h5>
                    <ul class="card-text">
                        <li><a href="#">IT Consulting</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Cloud</a></li>
                        <li><a href="#">Support</a></li>
                    </ul> --}}
                </div>
                {{!-- <div class="col-md-4 col-lg-2 col-sm-4 col-xs-2 footer-box footer-box-3">
                    <h5 class="heading">Industries</h5>
                    <ul class="card-text">
                        <li><a href="#">Finance</a></li>
                        <li><a href="#">Public Sector</a></li>
                        <li><a href="#">Smart Office</a></li>
                        <li><a href="#">Retail</a></li>
                    </ul>
                </div> --}}
                <div class="col-md-4 col-lg-2 col-sm-4 col-xs-2 footer-box footer-box-4">
                    <h5 class="heading">Company</h5>
                    <ul class="card-text">
                        <li><a href="/about">About Us</a></li>
                        <li>Contact:<br>
                            <p class="contact">Phone no: +1(551)358-4303<br>Support@Ethrift.com</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="divider mb-4"> </div>
            <div class="row copy-right">
                <div class="col-md-6 col-sm-12 col-xs-6">
                    <div class="pull-left">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-6">
                    <div class="pull-right d-flex policy">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>