<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{titlename}}</title>
    <link rel="stylesheet" href="/public/main.css">
</head>

<body>
    <main class="container">
        {{{body}}}
    </main>
</body>

</html>