<style>
    .left-column {
        text-align: unset;
    }

    .buynow-btn {
        margin-top: 20px;
    }
</style>
{{> header}}
<main class="pro-detail container">
    <div class="left-column">
        <div class="about-site">
            <h3> About Us: </h3>
            <p>This platform allows individual user to sell their used or new items by adding product information,
                pictures and relevant details.</p>
            <p>Users can also buy item from the available product list. Additionally cart features allows user to add
                item to cart and make purchase later. </p>
            <p>Similarly, one can add liked product to wishlist and later they can move the product from wishlist to
                cart and proceed with checkout. Users can sell any product such as Mobile phones, cloths…etc at any cost
                they want.</p>

            {{!-- <p>We are one of the world’s fastest-growing networks of trading platforms, operating in 30+ countries
                around the world.
            </p>
            <p>
                We help people buy and sell cars, find housing, get jobs, buy and sell household goods, and much
                more. With more than 20
                well-loved local brands including Avito, E-Thrift, E-Thrift Autos, Otomoto, and Property24, our
                solutions are
                built to be safe,
                smart, and convenient for our customers.
            </p>
            <p>
                We are powered by a team of 11,000+ people, working across 5 continents in offices all around the
                world</p> --}}
        </div>
    </div>
</main>

{{> footer}}