{{> header}}
<main class="pro-detail container">
    <div class="left-column">
        <div class="about-site">
            <table>
                <tr>
                    <td>Name : </td>
                    <td>Parth Bhinradiya</td>
                </tr>
                <tr>
                    <td>Email : </td>
                    <td>pathbhinradiya@gmail.com</td>
                </tr>
                <tr>
                    <td>Address : </td>
                    <td>new jursey</td>
                </tr>
                <tr>
                    <td>City : </td>
                    <td>new jursey</td>
                </tr>
                <tr>
                    <td>pincode : </td>
                    <td>395623</td>
                </tr>
                <tr>
                    <td>state : </td>
                    <td>New york</td>
                </tr>
                <tr>
                    <td>age : </td>
                    <td>new jursey</td>
                </tr>
            </table>
        </div>
    </div>
</main>

{{> footer}}