<style>
    .left-column {
        text-align: unset;
    }

    .buynow-btn {
        margin-top: 20px;
    }
</style>

{{> header}}
<main class="pro-detail container">
    <div class="left-column">
        <div>
            {{#if getcmt}}
            <h4>Aleady have review</h4>
            {{else}}
            <form action="/item/addreview" method="post">
                <!-- Name -->
                <input type="hidden" value="{{userid}}" name="userid">
                <input type="hidden" value="{{item_id}}" name="itemid">
                <div class="md-form md-outline">
                    <label for="form75">Comment</label>
                    <textarea cols="5" rows="3" type="text" id="form75 contetnt" name="contetnt" class="form-control pr-6 contetnt"
                        required></textarea>
                </div>
                <!-- address -->
                <div class="md-form md-outline">
                    <label for="form75">Rating</label>
                    <input type="number" name="rating" id="form75 rating" min="1" max="5" class="form-control pr-6" required>
                </div>

                <div class="form-group error-re" style="display:none">
                            <label class="erro-info lbel-error"></label><br>
                        </div>
                <div class="text-right pb-2">
                    <input type="submit" value="add review" class="buynow-btn submit-btn">
                </div>
            </form>
            {{/if}}
        </div>
    </div>

</main>

{{> footer}}

<script>

    $(document).ready(function(){
        $('.submit-btn').click(function(){
            var contetnt = $('.contetnt').val().trim().length
            if(contetnt == 0){
                $('.error-re').css('display','block')
                $('.lbel-error').text('Comments can not be blank')
                return false
            }
            
        })
    })
</script>