<style>
   .left-column {
      text-align: unset;
   }

   .buynow-btn {
      margin-top: 20px;
   }
</style>
{{> header}}
<main class="pro-detail container">
   <div class="left-column">
      <div>
         <form action="/item/thankyou" method="post">
            <!-- Name -->
            <div class="md-form md-outline">
               <label for="form75">Name</label>
               <input type="text" id="form75" name="name" class="form-control pr-6 name" required>
               <input type="hidden" id="form75" name="id" value="{{id}}" class="form-control pr-6">
               <input type="hidden" id="form75" name="user_id" value="{{userid}}" class="form-control pr-6">
            </div>
            <!-- address -->
            <div class="md-form md-outline">
               <label for="form75">Address</label>
               <input type="text" name="address" id="form75" class="form-control pr-6 address" required>
            </div>
            <!-- phone number -->
            <div class="md-form md-outline">
               <label for="form75">Phone No.</label>
               <input type="number" name="phone_no" id="form75" class="form-control pr-6 phone_no" required>
            </div>
            <!-- Email -->
            <div class="md-form md-outline">
               <label for="form77">Email</label>
               <input type="email" name="email" id="form77" class="form-control pr-6 email" required>
            </div>
            <!-- card holder name -->
            <div class="md-form md-outline">
               <label for="form77">Card Holder Name</label>
               <input type="text" name="card_name" id="form77" class="form-control pr-6 card_name" required>
            </div>
            <!-- card number -->
            <div class="md-form md-outline">
               <label for="form77">Card Number</label>
               <input type="number" name="card_number" id="form77" class="form-control pr-6 card_number" required>
            </div>
            <!-- cvv -->
            <div class="md-form md-outline">
               <label for="form77">Cvv</label>
               <input type="number" name="cvv" id="form77" class="form-control pr-6 cvv" required>
            </div>
            <!-- card holder name -->
            <div class="md-form md-outline">
               <label for="form77">Expiry date</label>
               <input type="date" name="expiry_date" id="form77" class="form-control pr-6 ex_dates" required>
            </div>
            <div class="md-form md-outline error" style="display: none;">
               <label for="form77" class="errormsg" >Expiry date</label>
            </div>
            <div class="text-right pb-2">
               <input type="submit" value="Place Order" class="buynow-btn checkout">
            </div>
         </form>
      </div>
   </div>

</main>

{{> footer}}
<script>
   $('.checkout').click(function () {
      var name = $('.name').val().trim().length
var address = $('.address').val().trim().length;
var card_name = $('.card_name').val().trim().length;
        if (name == 0) {
         $('.error').css('display', 'block')
         $('.errormsg').text('Name can not be blank')
         return false;
      }else if (address == 0) {
         $('.error').css('display', 'block')
         $('.errormsg').text('Address can not be blank')
         return false;
      }
      else if ($('.phone_no').val().length != 10 || $('.phone_no').val()  == 0000000000) {
         $('.error').css('display', 'block')
         $('.errormsg').text('Please enter valid Mobile Number or it can not be all zeros')
         return false;
      }else if (card_name == 0) {
         $('.error').css('display', 'block')
         $('.errormsg').text('Card holder Name can not be blank')
         return false;
      }else if ($('.card_number').val().length != 16 || $('.card_number').val() == 0000000000000000) {
         $('.error').css('display', 'block')
         $('.errormsg').text('Please enter valid Card Number or it can not be all zeros')
         return false;
      }else if ($('.cvv').val().length != 3 || $('.cvv').val() == 000) {
         $('.error').css('display', 'block')
         $('.errormsg').text('Please enter valid Cvv Number or it can not be all zeros')
         return false;
      }

      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($('.email').val())) {
         return (true)
      } else {
         $('.error').css('display', 'block')
         $('.errormsg').text('Please enter valid Email')
         return false;
      }
      

   })
    var dtToday = new Date();
    
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();
    
    var maxDate = year + '-' + month + '-' + day;
   
    $('.ex_dates').attr('min', maxDate);
</script>