<style>
   .left-column {
      text-align: unset;
   }

   .buynow-btn {
      margin-top: 20px;
   }
</style>

{{> header}}
<main class="pro-detail container">
   <div class="left-column">
      <div>
         <form action="/item/additem" method="post" enctype="multipart/form-data">
            <!-- Name -->
            <div class="md-form md-outline">
               <label for="form75">ItemName</label>
               <input type="text" name="itemName" id="form75" class="form-control pr-6">
            </div>
            <!-- address -->
            <div class="md-form md-outline">
               <label for="form75">Description</label>
               <input type="text" name="description" id="form75" class="form-control pr-6">
            </div>
            <!-- phone number -->
            <div class="md-form md-outline">
               <label for="form75">Status</label>
               <select name="status" id="form75" class="form-control pr-6">
                  <option value="Open">Available</option>
                  <option value="Sold">Sold</option>
               </select>
            </div>
            <!-- Email -->
            <div class="md-form md-outline">
               <label for="form77">ItemPrice</label>
               <input type="number" name="itemPrice" id="form77" class="form-control pr-6">
            </div>

            <!-- cvv -->
            <div class="md-form md-outline">
               <label for="form77">Choose Photos</label>
               <input type="file" id="uploaded_file" name="uploaded_file" class="form-control pr-6" multiple />
            </div>

            <div class="text-right pb-2">
               <input type="submit" value="Add Item" class="buynow-btn">
            </div>
         </form>
      </div>
   </div>

</main>


{{> footer}}