<style>
   .left-column {
      text-align: unset;
   }

   .buynow-btn {
      margin-top: 20px;
   }
</style>

{{> header}}
<main class="pro-detail container">
   <div class="left-column">
      <div>
         <form action="/item/additem" method="post" enctype="multipart/form-data">
            <!-- Name -->
            <div class="md-form md-outline">
               <label for="form75">ItemName</label>
               <input type="text" name="itemName" id="form75" class="form-control pr-6 itemName">
            </div>
            <!-- address -->
            <div class="md-form md-outline">
               <label for="form75">Description</label>
               <input type="text" name="description" id="form75" class="form-control pr-6 description">
            </div>
            <!-- phone number -->
            <div class="md-form md-outline">
               <label for="form75">Status</label>
               <select name="status" id="form75" class="form-control pr-6">
                  <option value="Open">Available</option>
                  <option value="Sold">Sold</option>
               </select>
            </div>
            <!-- Email -->
            <div class="md-form md-outline">
               <label for="form77">ItemPrice</label>
               <input type="number" name="itemPrice" id="form77" class="form-control pr-6">
            </div>

            <!-- cvv -->
            <div class="md-form md-outline">
               <label for="form77">Choose Photos</label>
               <input type="file" id="uploaded_file" name="uploaded_file" class="form-control pr-6" multiple />
            </div>
            <br>
             <div class="form-group error-re" style="display:none">
                            <label class="erro-info lbel-error"></label><br>
                        </div>

            <div class="text-right pb-2">
               <input type="submit" value="Add Item" class="buynow-btn">
            </div>
            {{#if err}}
                        <div class="form-group">
                            <label class="erro-info">{{err}}</label><br>
                        </div>
                        {{/if}}
         </form>
      </div>
   </div>

</main>


{{> footer}}
<script>

    $(document).ready(function(){
        $('.buynow-btn').click(function(){
            var itemName = $('.itemName').val().trim().length
            var description = $('.description').val().trim().length
            
            if(itemName == 0){
                $('.error-re').css('display','block')
                $('.lbel-error').text('Item name can not be blank')
                return false
            }else if(description == 0){
                $('.error-re').css('display','block')
                $('.lbel-error').text('Item description can not be blank')
                return false
            }
       
        })
    })
</script>