<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>index</title>
   <link rel="stylesheet" type="text/css" href="{{base_url}}/css/site.css">
   <link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="{{base_url}}/js/jquery.min.js"></script>

   <style>
      .left-column {
         text-align: unset;
      }

      .buynow-btn {
         margin-top: 20px;
      }
   </style>
</head>

<body>
   {{> header}}
   <main class="pro-detail container">
      <div class="left-column">
         <div>
            <!-- Name -->
            <div class="md-form md-outline">
               <label for="form75">Name</label>
               <input type="text" id="form75" class="form-control pr-6">
            </div>
            <!-- address -->
            <div class="md-form md-outline">
               <label for="form75">Address</label>
               <input type="text" id="form75" class="form-control pr-6">
            </div>
            <!-- phone number -->
            <div class="md-form md-outline">
               <label for="form75">Phone No.</label>
               <input type="text" id="form75" class="form-control pr-6">
            </div>
            <!-- Email -->
            <div class="md-form md-outline">
               <label for="form77">Email</label>
               <input type="email" id="form77" class="form-control pr-6">
            </div>
            <!-- card holder name -->
            <div class="md-form md-outline">
               <label for="form77">Card Holder Name</label>
               <input type="text" id="form77" class="form-control pr-6">
            </div>
            <!-- cvv -->
            <div class="md-form md-outline">
               <label for="form77">Cvv</label>
               <input type="text" id="form77" class="form-control pr-6">
            </div>
            <!-- card holder name -->
            <div class="md-form md-outline">
               <label for="form77">Expiry date</label>
               <input type="date" id="form77" class="form-control pr-6">
            </div>
            <div class="text-right pb-2">
               <a href="thankyou" class="buynow-btn">Place order</a>
            </div>
         </div>
      </div>

   </main>


   {{> footer}}
</body>

</html>