<style>
   .left-column {
      text-align: unset;
   }

   .buynow-btn {
      margin-top: 20px;
   }
</style>
{{> header}}
<main class="pro-detail container">
   <div class="left-column">
      <div>
         <!-- Name -->
         <div class="md-form md-outline">
            <h6 class="thank-you-msg">Order has been places thank you</h6>
         </div>

      </div>
   </div>

</main>


</div>
{{> footer}}